{% extends 'base_card.html' %}

{% block title %}Технологии{% endblock title %}

{% block card-header %}Использованные технологии{% endblock card-header %}

{% block card-body %}
  <article class="col-12">
    <ul class="list-unstyled list-group list-group-flush">
      <a href="https://practicum.yandex.ru/" class="btn btn-info m-1">
        <li>
          Yandex Practicum
        </li>
      </a>
      <a href="https://www.python.org/downloads/release/python-392/" class="btn btn-primary m-1">
        <li>
          Python 3.9.2
        </li>
      </a>
      <a href="https://docs.djangoproject.com/en/4.1/releases/2.2.9/" class="btn btn-secondary m-1">
        <li>
          Django 2.2.9
        </li>
      </a>
      <a href="https://code.visualstudio.com/" class="btn btn-success m-1">
        <li>
          Visual Studio Code
        </li>
      </a>
      <a href="https://mxlinux.org/" class="btn btn-danger m-1">
        <li>
          MX Linux 21.1_x64 Advanced Hardware Support
        </li>
      </a>
      <a href="https://getbootstrap.com/" class="btn btn-warning m-1">
        <li>
          Bootstrap
        </li>
      </a>
    </ul>
  </article>
{% endblock card-body %}